
.finish {
  position: fixed;
  top: 50%;
  width: 300px;
  left: 50%;
  margin: -50px 0 0 -150px;
  background: rgba(0, 0, 0, 0.8);
  height: auto;
  color: #fff;
  text-align: center;
  padding: 20px;
  z-index: 900;
}
.finish .links {
  list-style: none;
  margin: 0;
  padding: 0;
}
.finish .links li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 10px 5px;
  padding: 0;
}
.finish .links li a {
  color: #fff;
}
.page-cart .finish{
  display: none !important;
}
